body {

}

header {

    color: white;
    background-color: orange;
}
/* GRID Container */
#main {
    display: grid;
    grid-template-areas:
        "topbar  topbar"
        "recipes discription";
        /*"footer  footer" ;*/
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70px auto 50px;

    gap: 20px 20px;
}
/* GRID Items */
header {grid-area: topbar;}
#recipes {grid-area: recipes;}
#description {grid-area: discription;}
footer {grid-area: footer;}



#recipes {


    background-color: red;
}

#recipes-container {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    /*display: grid;*/

    /*grid-template-columns: 1fr 1fr 1fr;*/
    background-color: lightgray;
    /*padding: 10px;*/

}
div.recipes-container:hover {
    border: 1px solid #777;
}
div.recipes-container img{
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    /*padding: 20px;*/
    /*font-size: 30px;*/
    /*max-width: 200px;*/
    /*max-height: 100%;*/

}


#description {

    background-color: yellow;
}

footer {

    background-color: black;
}

@media screen and (max-width: 800px) {
#main {
    /*grid-template-areas:*/
    /*    "topbar"*/
    /*    "recipes"*/
    /*    "discription";*/
    /*    !*"footer";*!*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: 70px 500px 120px 50px;*/
}
    /*#recipes-container {*/
    /*    grid-template-columns: 1fr ;*/
    /*}*/
}
